body {
	background-image: url("../images/bg_body.jpg");
}

header {
	display: flex;
}

a {
	color: #ffffff;
}

h1 {
	margin-left: 50px;
	font-family: Georgia, sans-serif;
	font-size: 22px;
	padding: 20px 0;
	color: gold;
	font-weight: 400;

}

/* ================header======================== */

.lang-list {
	display: flex;
	flex-direction: row;
	font-family: Verdana,  sans-serif;
	font-size: 11pt;
	position: absolute;
	margin-top: 40px;
	margin-left: 120px;
	color: gold;
}

.lang-item::after {
	padding: 0 10px;
	content: '|';
	color: white;
}

.lang-item:last-child::after {
	content: '';
}

.auth {
	position: absolute;
	margin-top: 40px;
	right: 120px;
	font-family: Verdana,  sans-serif;
	font-size: 11pt;
}
.auth-link.signin a {
	color: gold;
}

.signin::after {
	padding: 0 10px;
	content: '|';
	color: #ffffff;
}

.mainmenu .menu-list {
	display: flex;
	flex-direction: row;
	font-family: Verdana,  sans-serif;
	font-size: 11pt;
	position: absolute;
	margin-top: 150px;
	margin-left: 470px;
	border: 1px solid gold;
	background-color: #ffffff;
	height: 40px;
	border-radius: 5px;
}

.mainmenu .menu-item {
	display: flex;
	justify-content: space-around;
	width: 160px;
	align-items: center;
}

.menu-item a {
	color: black;
	text-decoration: none;
}

.logo {
	margin-top: 100px;
	margin-left: 140px;
	position: absolute;
}

.active {
	background-image: url("../images/bg_menu-item-active.png");
}

/* =======================/header========================= */

/* ========================main=========================== */

.promo {
	background: url("../images/bg_about.png") no-repeat 35px 40px, url("../images/bg_promo.png");
	margin-top: 240px;
	width: 1230px;
	display: block;
	height: 155px;
	margin-left: 100px;
	padding-left: 100px;
	border-radius: 10px;
}



.article {
	margin-top: 45px;
}

.article img {
	float: left;
	margin-left: 110px;
}

.article h2 {
	margin-left: 250px;
	color: gold;
	font-size: 18px;

}

.article p {
	margin-left: 250px;
	width: 1100px;
}

.article p:nth-of-type(1) {
	margin-top: 20px;
}

/* ========================/main=========================== */

/* =======================footer=========================== */

.footer {
	display: flex;
	margin: 0 100px;
	border-top: 1px solid gold;
	padding: 45px 20px 20px 10px;

}

.copyright{
	font-family: Verdana, sans-serif;
	color:  gold;
	font-size: 11px;
	font-weight: 400;
	line-height: 16px;
}

.footermenu .menu-list {
	display: flex;
	padding-left: 400px;
}

.footermenu .menu-item::after {
	content: '|';
	color: white;
	padding: 0 10px;
}

.footermenu .menu-item:last-child::after {
	content: "";
}

.footermenu .menu-item a {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	font-weight: 400;
	color: #ffffff;
}
/* ======================/footer=========================== */
