body {
	background-image: url("../images/bg_body.jpg");
	height: 100%;
	width: 100%;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	line-height: normal;
	color: #d7cfc8;
	cursor: default;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
}

a {
	color: #e8d1a4;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

h1,
h2 {
	line-height: normal;
	font-weight: 400;
}

h1 {
	font-size: 22px;
	color: #ead4aa;
	margin-bottom: 16px;
}

h2 {
	font-size: 18px;
	color: #fff68d;
	margin-bottom: 15px;
}

article {
	margin-bottom: 40px;
}

/* ================header======================== */

header {
	position: relative;
	height: 160px;
	margin-bottom: 40px;
}

header .logo {
	position: absolute;
	left: 0;
	bottom: 0;
}

header .logo img {
	display: block;
	width: 223px;
	height: auto;
	margin-left: 20px;
}

header .mainmenu {
	position: absolute;
	right: 0;
	bottom: 0;
}

header .mainmenu .menu-list {
	display: flex;
	list-style: none;
	background: #ffffff;
	border-radius: 4px;
}

header .mainmenu .menu-item {
	color: #461500;
}

header .mainmenu .menu-item.active {
	background: url("../images/bg_menu-item-active.png") center 0 no-repeat;
}

header .mainmenu .menu-item a {
	display: block;
	text-decoration: none;
	width: 117px;
	height: 39px;
	color: inherit;
	text-align: center;
	line-height: 39px;
	font-family: Georgia, serif;
	font-size: 14px;
}

header .mainmenu .menu-item.active a {
	cursor: default;
}

header .lang-list {
	position: absolute;
	left: 20px;
	top: 40px;
}

header .lang-list a {
	color: #ffffff;
}

header .lang-list .lang-item:nth-child(3) a {
	color: #e8d1a4;
	text-decoration: none;
}
header .lang-list .lang-item {
	display: inline-block;
	position: relative;
	margin-right: 16px;
	color: #e8d1a4;
}

header .lang-list .lang-item::before {
	content: '|';
	position: absolute;
	left: -12px;
	top: 0;
	color: #ffffff;
}

header .lang-list .lang-item:first-child::before {
	display: none;
}


header .auth {
	position: absolute;
	right: 20px;
	top: 40px;
	color: #ffffff;
}

header .auth .auth-link {
	display: inline-block;
	position: relative;
	margin-right: 16px;
}

header .auth .auth-link::before {
	content: '|';
	position: absolute;
	left: -12px;
	top: 0;
	color: #ffffff;
}

header .auth .auth-link:first-child::before {
	display: none;
}

header .auth-link a {
	color: inherit;
}

header .auth-link.signin {
	color: #e8d1a4;
}

/* =======================/header========================= */

/* ========================main=========================== */

main {
	height: 890px;
}

main .promo {
	background:
			url("../images/bg_about.png") no-repeat 56px center,
			url("../images/bg_promo.png") repeat 0 0;
	border-radius: 10px;
	font-size: 14px;
	font-style: italic;
	color: #f9da5a;
	padding: 20px;
	padding-left: 144px;
	font-family: Georgia, serif;
	line-height: 22px;
	margin-bottom: 54px;
}

main .article {
	position: relative;
	padding-left: 144px;
}

main .article img {
	position: absolute;
	width: 100px;
	height: auto;
	left: 20px;
	top: 50%;
	margin-top: -32px;
}

/* ========================/main=========================== */

/* =======================footer=========================== */

footer {
	position: relative;
	box-sizing: border-box;
	width: 1000px;
	margin: -76px auto 0;
	height: 76px;
	border-top: 1px solid rgba(215, 182, 73, 0.44);
	padding: 40px 20px 0;
	color: #f9da5a;
}

footer .footermenu {
	position: absolute;
	right: 20px;
	top: 40px;
	white-space: nowrap;
	color: #ffffff;
}

footer .footermenu .menu-list {
	list-style: none;
}

footer .footermenu .menu-item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 16px;
}

footer .footermenu .menu-item a {
	color: inherit;
}

footer .footermenu .menu-item::before {
	content: '|';
	position: absolute;
	left: -12px;
	top: 0;
	color: #ffffff;
}

footer .footermenu .menu-item:first-child::before {
	display: none;
}
/* ======================/footer=========================== */